body {
    margin: 0;
    padding: 100px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #a8e9ff;
}

.board {
    background-color: #DFCEB4;
    width: auto;
    height: 2500px;
    margin:100px
}

.nitan {
    height: 4000px;
}
