body {
    margin: 0;
    padding: 100px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #83E1FF;

}

.board {
    background-color: #DFCEB4;
    width: auto;
    margin-top: 500px;
    height: 10000px;

}
